name: Basic Variables Demo approval test

on:
  workflow_dispatch:
    inputs:
      action:
        description: "Environment selection"
        required: true
        type: choice
        options:
          - dev
          - stage
          - prod
    
env:
  environment: ${{ inputs.action == 'prod' && 'prod2' || inputs.action }}
  CLUSTER_NAME: aks-lgth-${{ inputs.action }}
  RESOURCE_GROUP: "rg-lgt-${{ inputs.action }}"

jobs:
  job1:
    name: Resolve environment
    runs-on: ubuntu-latest
    environment: ${{ inputs.action == 'prod' && 'prod2' || inputs.action }}

    steps:
      - name: Decide environment
             
        id: set-env
        run: |
          echo "Input action is the = ${{ inputs.action }}"
          echo " direct from secret the environment variable = ${{ vars.DEV }}"
          echo "direct from secret the environment variable = ${{ vars.STAGE }}"
          echo "direct from secret the environment variable = ${{ vars.PROD2 }}"
          echo "direct from secret the environment variable = ${{ vars.PROD }}"
          echo "direct from secret the environment variable = ${{ env.CLUSTER_NAME }}"
          
         

  job2:
    name: Print variables
    runs-on: ubuntu-latest
    needs: [job1]
    environment: prod2
    steps:
      - name: Print repository variables
        run: |
          echo " direct from secret the environment variable = ${{ vars.DEV }}"
          echo "direct from secret the environment variable = ${{ vars.STAGE }}"
          echo "direct from secret the environment variable = ${{ vars.PROD2 }}"
          echo "direct from secret the environment variable = ${{ env.CLUSTER_NAME }}"
      
      - name: Try printing secret (will be masked)
        run: |
          echo "the environment variable = ${{ vars.PROD2 }}"
          echo "it is based on which enviroent this job is running = ${{ vars.ENV }}"
