name: Basic Variables Demo approval test

on:
  workflow_dispatch:
    inputs:
      action:
        description: "Environment selection"
        required: true
        type: choice
        options:
          - dev
          - stage
          - prod

jobs:
  resolve-env:
    name: Resolve environment
    runs-on: ubuntu-latest
    environment: ${{ inputs.action }}
    outputs:
      target_env: ${{ steps.set-env.outputs.target_env }}

    steps:
      - name: Decide environment
        id: set-env
        run: |
          echo " direct from secret the environment variable = ${{ vars.dev }}"
          echo "direct from secret the environment variable = ${{ vars.stage }}"
          echo "direct from secret the environment variable = ${{ vars.prod2 }}"
          echo "direct from secret the environment variable = ${{ vars.prod }}"
          
          if [ "${{ inputs.action }}" = "prod" ]; then
            echo "target_env=prod2" >> $GITHUB_OUTPUT
          else
            echo "target_env=${{ inputs.action }}" >> $GITHUB_OUTPUT
          fi

  job2:
    name: Print variables
    runs-on: ubuntu-latest
    needs: resolve-env
    environment: ${{ needs.resolve-env.outputs.target_env }}
    steps:
      - name: Print repository variables
        run: |
          echo " direct from secret the environment variable = ${{ vars.dev }}"
          echo "direct from secret the environment variable = ${{ vars.stage }}"
          echo "direct from secret the environment variable = ${{ vars.prod2 }}"
          echo "direct from secret the environment variable = ${{ vars.prod }}"
      
      - name: Try printing secret (will be masked)
        run: |
          echo "the environment variable = ${{ vars.prod2 }}"
          echo "it is based on which enviroent this job is running = ${{ vars.env }}"

  job3:
    name: job3 we given 
    runs-on: ubuntu-latest
    needs: job2
    environment: ${{ needs.resolve-env.outputs.target_env }}
    steps:
      - name: Print repository variables
        run: |
          echo " direct from secret the environment variable = ${{ vars.dev }}"
          echo "direct from secret the environment variable = ${{ vars.stage }}"
          echo "direct from secret the environment variable = ${{ vars.prod2 }}"
          echo "direct from secret the environment variable = ${{ vars.prod }}"
      - name: Try printing secret (will be masked)
        run: |
          echo "the environment variable = ${{ vars.prod2 }}"
          echo "it is based on which enviroent this job is running = ${{ vars.env }}"

          

