name: Basic Variables Demo approval test

on:
  workflow_dispatch:
    inputs:
      action:
        description: "Environment selection"
        required: true
        type: choice
        options:
          - dev
          - stage
          - prod
    
env:
  CLUSTER_NAME: aks-lgth-${{ inputs.action == 'prod' && 'prod2' || inputs.action }}
  RESOURCE_GROUP: "rg-lgt-${{ inputs.action }}"

jobs:
  job1:
    name: Resolve environment
    runs-on: ubuntu-latest
    environment: ${{ inputs.action }}
    outputs:
      action: ${{ steps.set-env.outputs.action }}

    steps:
      - name: Decide environment
             
        id: set-env
        run: |
          echo "Input action is the = ${{ inputs.action }}"
          echo " direct from secret the environment variable = ${{ vars.DEV }}"
          echo "direct from secret the environment variable = ${{ vars.STAGE }}"
          echo "direct from secret the environment variable = ${{ vars.PROD2 }}"
          echo "direct from secret the environment variable = ${{ vars.PROD }}"
          echo "direct from secret the environment variable = ${{ env.CLUSTER_NAME }}"
          
          if [ "${{ inputs.action }}" = "prod" ]; then
            echo "action=prod2" >> $GITHUB_OUTPUT
            echo "target environment is prod"
          else
            echo "action=${{ inputs.action }}" >> $GITHUB_OUTPUT
            echo "action is = ${{ inputs.action }}"
          fi
          echo "target_env is $target_env"

  job2:
    name: Print variables
    runs-on: ubuntu-latest
    needs: [job1]
    environment: ${{ needs.job1.outputs.action }}
    steps:
      - name: Print repository variables
        run: |
          echo " direct from secret the environment variable = ${{ vars.DEV }}"
          echo "direct from secret the environment variable = ${{ vars.STAGE }}"
          echo "direct from secret the environment variable = ${{ vars.PROD2 }}"
          echo "direct from secret the environment variable = ${{ env.CLUSTER_NAME }}"
      
      - name: Try printing secret (will be masked)
        run: |
          echo "the environment variable = ${{ vars.PROD2 }}"
          echo "it is based on which enviroent this job is running = ${{ vars.ENV }}"

  job3:
    name: job3 we given 
    runs-on: ubuntu-latest
    needs: [job1, job2]
    environment: ${{ needs.job1.outputs.action }}
    steps:
      - name: Print repository variables
        run: |
          echo " direct from secret the environment variable = ${{ vars.DEV }}"
          echo "direct from secret the environment variable = ${{ vars.STAGE }}"
          echo "direct from secret the environment variable = ${{ vars.PROD2 }}"
          echo "direct from secret the environment variable = ${{ vars.PROD }}"
      - name: Try printing secret (will be masked)
        run: |
          echo "the environment variable = ${{ vars.PROD2 }}"
          echo "it is based on which enviroent this job is running = ${{ vars.ENV }}"

  job4:
    name: job4 we given 
    runs-on: ubuntu-latest
    needs: [job1, job3]
    environment: ${{ needs.job1.outputs.target_env }}
    steps:
      - name: Print repository variables
        run: |
          echo " direct from secret the environment variable = ${{ vars.DEV }}"
          echo "direct from secret the environment variable = ${{ vars.STAGE }}"
          echo "direct from secret the environment variable = ${{ vars.PROD2 }}"
          echo "direct from secret the environment variable = ${{ vars.PROD }}"
      - name: Try printing secret (will be masked)
        run: |
          echo "the environment variable = ${{ vars.PROD2 }}"
          echo "it is based on which enviroent this job is running = ${{ vars.ENV }}"      

