name: Basic Variables Demo approval test

on:
  workflow_dispatch:
    inputs:
      #environment:
       description: "environment options"
       default: "test_env"
       type: environment
       required: true
     
      action:
        description: " environemtn selection"
        required: true
        type: choice
        options:
          - dev
          -stage
          - prod

            
jobs:
  job1:
    name: Print variables
    runs-on: ubuntu-latest
    environment: "${{github.event.inputs.environment}}"
    steps:
      - name: Print repository variables
        run: |
          echo "APP_NAME = ${{ vars.APP_NAME }}"
          echo "ENV_NAME = ${{ vars.ENV_NAME }}"

      - name: Try printing secret (will be masked)
        run: |
          echo "DB_PASSWORD = ${{ secrets.DB_PASSWORD }}"
          echo "secret value it is APP_NAME = ${{ vars.APP_NAME }}"
  job2:
    name: Job2 started
    runs-on: ubuntu-latest
    needs: job1
    environment: "${{github.event.inputs.environment}}"
         
    steps:
      - name: Job2 message
        run: |
         echo "Job2 has started successfully"

  job3:
    name: job3 based on test2 environemnt
    runs-on: ubuntu-latest
    needs: job2
    environment: "test_env"
    steps:
      - name: Print repository variables
        run: |
          echo "APP_NAME = ${{ vars.APP_NAME }}"
          echo "ENV_NAME = ${{ vars.ENV_NAME }}"
     
  job4:
    name: job4 based on test_env environment
    runs-on: ubuntu-latest
    needs: job2
    environment: "${{github.event.inputs.environment}}"
    steps:
      - name: Print repository variables
        run: |
          echo "APP_NAME = ${{ vars.APP_NAME }}"
          echo "ENV_NAME = ${{ vars.ENV_NAME }}"   
   
