name: Basic Variables Demo with sepcific user restricted

on:
  workflow_dispatch:

jobs:
  job1:
    name: Print variables
    runs-on: ubuntu-latest
    if: !contains(fromJson('["HemanthEagel"]'), github.actor)

    steps:
      - name: Print repository variables
        run: |
          echo "APP_NAME = ${{ vars.APP_NAME }}"
          echo "ENV_NAME = ${{ vars.ENV_NAME }}"
          echo "Triggered by ${{ github.actor }}"

      - name: Try printing secret (will be masked)
        run: |
          echo "DB_PASSWORD = ${{ secrets.DB_PASSWORD }}"
          echo "secret value it is APP_NAME = ${{ vars.APP_NAME }}"
  job2:
    name: Job2 started
    runs-on: ubuntu-latest
    needs: job1

    steps:
      - name: Job2 message
        run: |
          echo "Job2 has started successfully"
