name: Basic Variables Demo approval test

on:
  workflow_dispatch:
    inputs:
      action:
        description: "Environment selection"
        required: true
        type: choice
        options:
          - dev
          - stage
          - prod

jobs:
  resolve-env:
    name: Resolve environment
    runs-on: ubuntu-latest

    outputs:
      target_env: ${{ steps.set-env.outputs.target_env }}

    steps:
      - name: Decide environment
        id: set-env
        run: |
          if [ "${{ inputs.action }}" = "prod" ]; then
            echo "target_env=prod2" >> $GITHUB_OUTPUT
          else
            echo "target_env=${{ inputs.action }}" >> $GITHUB_OUTPUT
          fi

  job2:
    name: Print variables
    runs-on: ubuntu-latest
    needs: resolve-env
    environment: ${{ needs.resolve-env.outputs.target_env }}
    steps:
      - name: Print repository variables
        run: |
          echo "APP_NAME = ${{ vars.APP_NAME }}"
          echo "ENV_NAME = ${{ vars.ENV_NAME }}"

      - name: Try printing secret (will be masked)
        run: |
          echo "DB_PASSWORD = ${{ vars.prod2 }}"
          echo "secret value it is APP_NAME = ${{ vars.env }}"

