name: "Platform CD pass secrets via GITHUB_OUTPUT"

on:
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

env:
  VARIABLE: "${{ vars.VARIABLE }}"

jobs:
  job1:
    name: "Run on environment"
    environment: dev
    runs-on: ubuntu-latest

    outputs:
      O_VAR: ${{ steps.step2.outputs.O_VAR }}
      O_SECRET: ${{ steps.step2.outputs.O_SECRET }}
      D_VAR: ${{ steps.step3.outputs.D_VAR }}
      D_SECRET: ${{ steps.step3.outputs.D_SECRET }}

    steps:
      - name: "Store secret and variable in custom variables"
        id: step1
        run: |
          C_SECRET="${{ secrets.SECRET }}"
          C_VARIABLE="${{ vars.VARIABLE }}"

          echo "Custom secret (masked): ${C_SECRET:0:4}****"
          echo "Custom variable: $C_VARIABLE"

      - name: "Store values in GITHUB_OUTPUT from custom variables"
        id: step2
        run: |
          echo "O_VAR=${{ vars.VARIABLE }}" >> $GITHUB_OUTPUT
          echo "O_SECRET=${{ secrets.SECRET }}" >> $GITHUB_OUTPUT

      - name: "Store values DIRECTLY in GITHUB_OUTPUT"
        id: step3
        run: |
          echo "D_VAR=${{ vars.VARIABLE }}" >> $GITHUB_OUTPUT
          echo "D_SECRET=${{ secrets.SECRET }}" >> $GITHUB_OUTPUT

      - name: "PRINT ALL (job1)"
        run: |
          echo "O_VAR=$O_VAR"
          echo "O_SECRET=$O_SECRET"
          echo "D_VAR=$D_VAR"
          echo "D_SECRET=$D_SECRET"

  job2:
    name: "Access the secret and variable from job1 outputs"
    runs-on: ubuntu-latest
    needs: job1

    steps:
      - name: "Access variables from OUTPUT job1"
        run: |
          echo "O_VAR=${{ needs.job1.outputs.O_VAR }}"
          echo "O_SECRET=${{ needs.job1.outputs.O_SECRET }}"
          echo "D_VAR=${{ needs.job1.outputs.D_VAR }}"
          echo "D_SECRET=${{ needs.job1.outputs.D_SECRET }}"
