name: teeeeeeeeeeeeeest

on:
  workflow_dispatch:
    inputs:
      action:
        description: "Environment selection"
        required: true
        type: choice
        options:
          - dev
          - stage
          - prod
    
env:
  environment: ${{ inputs.action == 'prod' && 'prod2' || inputs.action }}
  CLUSTER_NAME: aks-lgth-${{ inputs.action }}
  RESOURCE_GROUP: "rg-lgt-${{ inputs.action }}"

jobs:
  job1:
    if: inputs.action !== 'prod'
    environment: prod
    name: Resolve environment
    runs-on: ubuntu-latest
    steps:
      - name: Decide environment
             
        id: set-env
        run: |
          echo "Input action is the = ${{ inputs.action }}"
          
  job2:
    name: Resolve environment
    needs: job1
    runs-on: ubuntu-latest
    steps:
      - name: Decide environment
             
        id: set-env
        run: |
          echo "Input action is the = ${{ inputs.action }}"
          echo " direct from secret the environment variable = ${{ vars.DEV }}"
          echo "direct from secret the environment variable = ${{ vars.STAGE }}"
          echo "direct from secret the environment variable = ${{ vars.PROD2 }}"
          echo "direct from secret the environment variable = ${{ vars.PROD }}"
          echo "direct from secret the environment variable = ${{ env.CLUSTER_NAME }}"

          
         
